.bro-footer {
    max-width: 1773px;
    width: 100%;
    height: 271px;
    background: #232323;
}

.footer-header {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer-logo {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    color: #FFFFFF;
}

.footer-text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
}


.footer-nav {
    display: flex;
    justify-content: center;
    background: #232323;
}


.footer-bar {
    width: 225px;
    display: flex;
    justify-content: flex-end;
}


.fa-linkedin-in {
    color: #5474FD;
    font-size: 17px;
}

.fa-linkedin-in:hover {
    color: #FFFFFF;
}

.fa-facebook-f,
.fa-twitter,
.fa-youtube,
.fa-pinterest {
    font-size: 17px;
}


.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-pinterest:hover {
    color: #5474FD;
}

.footer-logo:hover {
    color: #5474FD;
}


/* SCREEN SIZE 768px */


@media screen and (max-width: 768px) {


    .footer-bar {
        width: 250px;
        display: flex;
        justify-content: flex-start;
    }

    .footer-logo {
        font-size: 30px;
    }

    .footer-text {
        font-size: 20px;
    }
}