.fourth-section {
    max-width: 1773px;
    width: 100%;
    height: 340px;
    background: #333333;
}

.search {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #E8E8E8;
}

.symbol-container {
    max-width: 1770px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px
}

.shape-img {
    position: absolute;
    max-width: 1770px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shape-img-1 {
    max-width: 610px;
}


.shape {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.symbol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.fa-magnifying-glass {
    color: #5474FD;
    font-size: 30px;
}

.fa-circle-check {
    color: #FF6363;
    font-size: 30px;
}

.fa-thumbs-up {
    color: #00A2FF;
    font-size: 30px;
}

/* SCREEN SIZE 768px */


@media screen and (max-width: 768px) {


    .search {
        font-size: 25px;
    }


    .shape-img-1 {
        max-width: 510px;
    }

    .shape-img {
        height: 160px;
        display: flex;
        align-items: flex-end;
    }


}