html {
    scroll-behavior: smooth;
}

header {
    max-width: 1770px;
    height: 100vh;
    background-image: url("../Images/brohmaon-img-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    margin-bottom: 5px;
    max-width: 342px;
    width: 100%;
    color: #FFFFFF;
    letter-spacing: 4.8px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
}


.main-text {

    color: #FFFFFF;
    letter-spacing: 6.8px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}


.form-section {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    background-color: #FFFFFF;
}


.input-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {

    max-width: 277px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    border: none;
    outline: none;

}


.search-btn {
    width: 150px;
    height: 60px;
    background: #5474FD;
    transition: 0.3s;
    border: 2px solid #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    cursor: pointer;

}

.search-btn:hover {
    opacity: 0.6;
}

.scroll-down {
    max-width: 1770px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.scroll {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}



.fa-chevron-down {
    color: #FFFFFF;
    font-size: 20px;
}

.fa-chevron-down:hover {
    color: black;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

a:hover {
    color: black;
}


/* SCREEN SIZE 320px */


@media screen and (max-width: 320px) {

    .main-header {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
    }

    .main-text {
        font-size: 12px;
    }


    form {
        flex-direction: column;
        max-width: 280px;
        height: 42px;
        width: 100%;
    }

    form input {
        justify-content: center;
        max-width: 275px;
        font-size: 12px;
    }

    .search-btn {
        border: none;
        margin-top: 10px;
        height: 50px;
        width: 280px;
        font-size: 12px;
    }

}