.fourth-section {
    max-width: 1773px;
    width: 100%;
    height: 340px;
    background: #333333;
}

.search {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #E8E8E8;
}


.fa-magnifying-glass {
    color: #5474FD;
    font-size: 30px;
}

.fa-circle-check {
    color: #FF6363;
    font-size: 30px;
}

.fa-thumbs-up {
    color: #00A2FF;
    font-size: 30px;
}