.section-seven {
    max-width: 1773px;
    width: 100%;
    height: 700px;
    background-image: url(../Images/walking\ man.png);
}


.seven-header {
    max-width: 1770px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tourist {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}


.seven {
    max-width: 1280px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seven-image {
    max-width: 445px;
    width: 100%;
    height: 284px;
}

.man-mountain {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.seven-info {
    max-width: 668px;
    width: 100%;
    height: 284px;
    background: #333333
}


.seven-info-2 {
    margin-top: 30px;
    margin-left: 40px;
}


.sam {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FEFEFE;
}

.seven-txt {
    max-width: 581px;
    width: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
}

.fa-quote-left {
    color: #5474FD;
    font-size: 50px;
}

/* SCREEN SIZE 768px */


@media screen and (max-width: 768px) {
    .seven-header {
        display: flex;
        align-items: center;
    }


    .seven-image {
        margin-bottom: 20px;
        max-width: 300px;
        width: 100%;
        height: 200px;
    }

    .man-mountain {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .seven {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


    .sam {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #FEFEFE;
    }

    .seven-info {
        margin-bottom: 20px;
        max-width: 700px;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: flex-end;


    }

    .seven-info-2 {
        max-width: 700px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .seven-txt {
        max-width: 600px;
        width: 100%;
        text-align: center;
        margin-right: 10px;
        font-size: 12px;
        margin-bottom: 50px;
    }
}

/* SCREEN SIZE 320px */


@media screen and (max-width: 320px) {

    .tourist {
        font-size: 26px;
    }

    .fa-quote-left {
        font-size: 25px;
    }




    .seven-image {
        max-width: 320px;
        width: 100%;
    }

    .sam {
        margin-top: 50px;
        margin-right: 10px;
    }


    .seven-info-2 {
        margin-right: 30px;
        height: 350px;
        justify-content: center;

    }
}