.third-section {

    max-width: 1770px;
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.why {
    max-width: 288px;
    width: 100%;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
}


.why-txt {
    margin-top: 40px;
    max-width: 560px;
    width: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
}


.explore-btn {
    margin-top: 45px;
    max-width: 228px;
    width: 100%;
    height: 63px;
    border: none;
    background: #5474FD;
    transition: 0.3s;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    color: #FFFFFF;
}



.explore-btn:hover {
    opacity: 0.6;
}

.image-container {
    margin-left: 20px;
    max-width: 500px;
    width: 100%;
    margin-left: 50px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mountain-img {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


/* SCREEN SIZE 768px */


@media screen and (max-width: 768px) {


    .third-section {
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .third-info {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .explore-btn {
        margin-bottom: 30px;
        max-width: 200px;
        width: 100%;
        height: 50px;

    }

    .image-container {
        margin-bottom: 10px;
        max-width: 680px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
    }


    .mountain-img,
    .river-img {
        max-width: 280px;
        width: 100%;
        height: 164px;
    }

    .house-river,
    .mountain {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    .river-img {
        margin-left: 10px;
    }

}


/* SCREEN SIZE 320px */


@media screen and (max-width: 320px) {

    .third-section {
        justify-content: flex-start;
    }

    .third-info {
        max-width: 250px;
        height: 200px;
        justify-content: space-between;
    }

    .image-container {
        visibility: hidden;
        max-width: 220px;
        height: 200px
    }

}